.simplicity-image-viewer {
    cursor: pointer;
}

.simplicity-image-preview-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .30;
}

.simplicity-image-preview-image {
    top: 20vh;
    left: 20vw;
    position: absolute;
    height: 60vh;
    width: 60vw;
    pointer-events: none;
}